$takeAllDiv: 100%;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: $takeAllDiv;
    color: white;
    text-align: center;
   
}
::ng-deep .mat-paginator{
    .mat-paginator-range-actions{
        margin-right: 2% !important;
    }
}

