$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$marginForImageInToolBar:0 16px;
$zeroPx:0px;
$blueColor:#1976d2;
$takeAllDiv: 100%;

*{ 
    margin:$zeroPx; 
    padding:$zeroPx; 
}

:host {
    font-family: $fontFamily;
    font-size: 14px;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $blueColor;
    color: white;
    font-weight: 600;
    img {
        margin: $marginForImageInToolBar;
    }
}

.app-image-json {
    width: $takeAllDiv;
}

