.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-toolbar.mat-primary {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
  color:black;
  font-family: "BasisGrotesque-Regular-Pro";
  font-weight: inherit;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

app-login{
  overflow: auto;
  padding: 40px 35px;
}

.container-tabs{
  margin-right: 20px;
}

a{
  color:black;
}


.is-active {
  text-decoration: underline !important;
}
.title{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  padding-top: 0 10px;
  z-index: -111;
}