<mat-sidenav-container class="sidenav-container">

  <!-- sidenav for mobile menu -->
  <mat-sidenav 
      #drawer
      class="sidenav"
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item 
        [routerLink]="['/starships']" 
        [routerLinkActive]="['is-active']">Starship</a>      
      <a mat-list-item 
        [routerLink]="['/secretpage']"
        [routerLinkActive]="['is-active']">Top secret <span *ngIf="!isAuthenticated">🔐</span></a>
      <a mat-list-item *ngIf="!isAuthenticated" (click)="showLoginSideNav()">Log in</a>
      <a mat-list-item *ngIf="isAuthenticated" (click)="logOut()">Log out</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- sidenav for mobile menu for login form  -->
  <mat-sidenav 
    #login
    position="end"
    fixedInViewport="false"
    [mode]="'over'"
    [opened]="isShowing"
    [disableClose]="true">

    <mat-icon aria-hidden="false" class="close-icon" aria-label="close login" (click)="hideLoginSideNav()">close</mat-icon>
  <app-login></app-login>
</mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="title">STAR WARS</span>

      <div [ngClass]="{hidden: (isHandset$ | async) === true}">
        <a  [routerLink]="['/starships']"  
            [routerLinkActive]="['is-active']">Starship</a>

        <a [routerLink]="['/secretpage']" 
            [routerLinkActive]="['is-active']">Top secret <span *ngIf="!isAuthenticated">🔐</span></a>

      </div>

      <span class="spacer"></span>
      
      <div [ngClass]="{hidden: (isHandset$ | async) === true}">
        <a *ngIf="!isAuthenticated" (click)="showLoginSideNav()">Log in</a>
        <a *ngIf="isAuthenticated" (click)="logOut()">Log out</a>
      </div>


    </mat-toolbar>    
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
