.sidenav-container {
  height: 100%;
  .mat-sidenav-content{
    .mat-toolbar{
      position: fixed !important;
      height: 9%;      
    }
    .app-main-content{
      position: fixed !important; 
      top: 9%;
      height: 91%;
      width: 100%;
      overflow-y: scroll;
    }
  }

}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-toolbar.mat-primary {
  background-color: white;
  color:black;
  font-family: "BasisGrotesque-Regular-Pro";
  font-weight: inherit;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

app-login{
  overflow: auto;
  padding: 40px 35px;
}

.container-tabs{
  margin-right: 20px;
}

a{
  color:black;
}


.is-active {
  text-decoration: underline !important;
}
.title{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  padding-top: 0 10px;
  z-index: -111;
}

